<!-- <p>splitBy - {{ splitBy }} - splitId - {{ splitId }} - updatedId - {{ updatedId }}</p>
<p>{{ entree | json }}</p> -->

<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12 mb-12">
      <!-- Nav tabs -->
      <tabset>
        <tab heading="Detail Info">
          <div class="card">
            <div class="card-header">
              <strong>{{ this.entreeFormCommonHeader }}</strong>
            </div>
            <div class="card-body">
              <form #f="ngForm" novalidate class="form-horizontal">
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="entreeStyle">Style</label>
                  <div class="col-md-2">
                    <select id="entreeStyle" class="form-control" [(ngModel)]="this.entree.entreeStyleId" name="entreeStyleId" [disabled]="this.splitBy == 'style'"
                      required #entreeStyle="ngModel">
                      <option value="">-- Please Select --</option>
                      <option *ngFor="let s of entreeStyles" value="{{ s.id }}">{{ s.name }}</option>
                    </select>
                  </div>
                  <div class="col-md-3">
                    <label class="col-form-label" *ngIf="(entreeStyle.dirty || entreeStyle.touched) && entreeStyle.invalid">
                      <span class="alert alert-danger">Please specify the style.</span>
                    </label>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="entreeCatagory">Catagory</label>
                  <div class="col-md-2">
                    <select id="entreeCatagory" class="form-control" [(ngModel)]="this.entree.entreeCatagoryId" name="entreeCatagoryId" [disabled]="this.splitBy == 'catagory'"
                      required #entreeCatagory="ngModel">
                      <option value="">-- Please Select --</option>
                      <option *ngFor="let c of entreeCatagories" value="{{ c.id }}">{{ c.name }}</option>
                    </select>
                  </div>
                  <div class="col-md-3">
                    <label class="col-form-label" *ngIf="(entreeCatagory.dirty || entreeCatagory.touched) && entreeCatagory.invalid">
                      <span class="alert alert-danger">Please specify the catagory.</span>
                    </label>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="entreeStapleFood">Staple Food</label>
                  <div class="col-md-2">
                    <select id="entreeStapleFood" class="form-control" [(ngModel)]="this.entree.stapleFoodId" name="stapleFoodId" #stapleFood="ngModel">
                      <option value="0">Not really necessary</option>
                      <option *ngFor="let sf of stapleFoods" value="{{ sf.id }}">{{ sf.name }}</option>
                    </select>
                  </div>
                  <div class="col-md-3">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="entreeName">Name</label>
                  <div class="col-md-3">
                    <input type="text" id="entreeName" class="form-control" placeholder="Enter Name.." [disabled]="this.action == 'update'" [(ngModel)]="this.entree.name"
                      name="entreeName" required #entreeName="ngModel">
                  </div>
                  <div class="col-md-3">
                    <label class="col-form-label" *ngIf="(entreeName.dirty || entreeName.touched) && entreeName.invalid">
                      <span class="alert alert-danger">Name is Required!</span>
                    </label>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="entreeRank">Rank</label>
                  <div class="col-md-3">
                    <star-rating-comp [starType]="'svg'" [rating]="this.entree.currentRank" [size]="'medium'" (onClick)="this.onStarRatingClick($event)"
                      [getColor]="this.getStarRatingColor()" style="display: inline-flex;"></star-rating-comp>
                  </div>
                </div>
                <entree-detail-common-section *ngFor="let edt of entreeDetailTypes" [entreeId]="this.updatedId" [entreeDetailType]="edt.name.capitalizeFirstLetter()"
                  [entreeDetailList]="filterEntreeDetailList(edt.name)" (addNewEntreeDetail)="addNewEntreeDetailTrigger($event)"
                  (removeEntreeDetail)="removeEntreeDetailTrigger($event)"></entree-detail-common-section>
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="entreeNote">Note</label>
                  <div class="col-md-6">
                    <textarea id="entreeNote" class="form-control" placeholder="Enter Note.." rows='5' [(ngModel)]="this.entree.note" name="entreeNote"></textarea>
                  </div>
                </div>
              </form>
            </div>
            <div class="card-footer">
              <div class="pull-right">
                <button type="submit" class="btn btn-sm btn-success" (click)="this.submit()" [disabled]="!f.valid">
                  <i class="fa fa-dot-circle-o"></i> Submit</button>
                <button type="button" class="btn btn-sm btn-warning" (click)="cancelForm()">
                  <i class="fa fa-ban"></i> Cancel</button>
                <button type="reset" class="btn btn-sm btn-primary" (click)="resetFormValue()" *ngIf="false">
                  <i class="fa fa-undo"></i> Reset</button>
                <button type="button" class="btn btn-sm btn-danger" (click)="this.deleteEntree()" [disabled]="false">
                  <i class="fa fa-remove"></i> Delete</button>
              </div>
            </div>
          </div>
        </tab>
        <tab heading="File Upload" *ngIf="this.updatedId != 0">
          <div class="card">
            <div class="card-header">
              <strong>File Upload</strong>
            </div>
            <div class="card-body">
              <form class="form-horizontal">
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="entreeStyle">Image Upload</label>
                  <div class="col-md-2">
                    <input type="file" (change)="uploadPhoto()" #fileInput>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-lg-8 offset-2">
                    <div class="progress" *ngIf="progress && progress.percentage < 100">
                      <div class="progress-bar" [style.width]="progress.percentage + '%'">
                        <span class="sr-only">{{ progress.percentage }}% Complete</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-2" *ngFor="let photo of photos" >
                    <img src="{{ apiFtp }}/upload/{{ photo.fileName }}" class="img-thumbnail">
                  </div>
                </div>
              </form>
            </div>
          </div>
          <!--/.row-->
        </tab>
      </tabset>
    </div>
    <!--/.col-->
  </div>
</div>

<!-- Modal -->
<div bsModal #infoModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-info" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Confirm Message</h4>
        <button type="button" class="close" (click)="decline()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md text-primary">We may found some similar entree that matches your current one as below:</div>
        </div>
        <br />
        <ul class="list-group" style="margin-left: -10px;">
          <li class="list-group-item text-danger" *ngFor="let e of similarEntreeList">
            {{ e.name }}
          </li>
        </ul>
        <br />
        <div class="row">
          <div class="col-md text-primary">Are you sure to continue saving?</div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-warning" (click)="decline()">
          <i class="fa fa-ban"></i> Cancel</button>
        <button type="submit" class="btn btn-sm btn-success" (click)="confirm()" [disabled]="!f.valid">
          <i class="fa fa-dot-circle-o"></i> Continue Saving</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->