<div class="row text-center">
    <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="card">
            <div class="card-header">
                Draggable Events
            </div>
            <div class="card-body">
                <label class="col-form-label" *ngIf="externalEvents?.length == 0">Entree distributed completed</label>
                <ul class="form-control" *ngIf="externalEvents?.length > 0">
                    <li class="form-control" *ngFor="let event of externalEvents" mwlDraggable [dropData]="{event: event}" style="position:relative; z-index: 10; border-radius: 5px;"
                        [style.background-color]="event.color.secondary" [style.border-color]="event.color.primary">
                        <a href="javascript:;">
                            {{ event.title }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="card text-white" class="bg-success">
            <div class="card-body">
                <ul class="form-control">
                    <li class="form-control" *ngFor="let log of changeEventLog">
                        <label class="col-form-label">
                            {{ log }}
                        </label>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<br>
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-4">
                <div class="btn-group">
                    <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
                        Previous
                    </div>
                    <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
                        Today
                    </div>
                    <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
                        Next
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
            </div>
            <div class="col-md-4">
                <div class="btn-group">
                    <div class="btn btn-primary" (click)="view = 'month'" [class.active]="view === 'month'">
                        Month
                    </div>
                    <div class="btn btn-primary" (click)="view = 'week'" [class.active]="view === 'week'">
                        Week
                    </div>
                    <div class="btn btn-primary" (click)="view = 'day'" [class.active]="view === 'day'">
                        Day
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div [ngSwitch]="view">
            <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="initialEvents" [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen"
                (dayClicked)="dayClicked($event.day)" (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventDropped($event)">
            </mwl-calendar-month-view>
            <mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="initialEvents" [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
                (eventTimesChanged)="eventDropped($event)">
            </mwl-calendar-week-view>
            <mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="initialEvents" [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
                (eventTimesChanged)="eventDropped($event)">
            </mwl-calendar-day-view>
        </div>
    </div>
</div>

<br>
<br>
<br>

<h3>
    Edit events
    <button class="btn btn-primary pull-left" (click)="addEvent()">
        Add new
    </button>
    <div class="clearfix"></div>
</h3>
<span>-------------------------------------------------------------</span>
<div class="row">
    <input type="text" name="daterangeInput" daterangepicker [options]="options" (selected)="selectedDate($event, daterange)"
    />
</div>