<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i>
          <star-rating-comp [starType]="'svg'" [rating]="2.63"></star-rating-comp>
          <b>{{ entreeListFormHeader }}</b>
          <b>{{ splitBy }}</b>
          <b>{{ splitById }}</b>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="form-group row">
                <div class="col-md-12">
                  <input id="filter" type="text" class="form-control" placeholder='Type to filter the name...' (keyup)='updateFilter($event)'>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12"></div>
            <div class="col-lg-2 col-ms-2 col-sm-12">
              <a [routerLink]="this.createNewRouterLink" class="btn btn-success">
                <i class="icon-plus"></i> {{ newEntreeButtonText }}</a>
            </div>
          </div>
          <ngx-datatable #mainTable class="bootstrap expandable" style="border: lightblue 3px double;" [rows]="ngx_rows" [loadingIndicator]="ngx_loadingIndicator"
            [columnMode]="'force'" [headerHeight]="40" [footerHeight]="40" [limit]="5" [rowHeight]="'auto'" [reorderable]="ngx_reorderable"
            (page)="onPageMainTable($event)">
            <!-- Row Detail Template -->
            <ngx-datatable-row-detail [rowHeight]="'auto'" #myDetailRow (toggle)="onDetailToggle($event)">
              <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                <div style="padding-left:35px;">
                  <ngx-datatable #levelOneDetailTable class="dark expandable" [columnMode]="'force'" [rows]="row.entreeDetailList" [headerHeight]="40"
                    [footerHeight]="40" [limit]="5" [rowHeight]="'auto'" (page)="onPageDetailTable($event)">
                    <div *ngFor="let c of ngx_detail_columns">
                      <ngx-datatable-column [name]="c.name" sortable="false" [prop]="c.prop"></ngx-datatable-column>
                    </div>
                  </ngx-datatable>
                </div>
              </ng-template>
            </ngx-datatable-row-detail>
            <ngx-datatable-column [width]="50" [resizeable]="false" [sortable]="false" [draggable]="false" [canAutoResize]="false">
              <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                <a href="javascript:void(0)" [class.datatable-icon-right]="!expanded" [class.datatable-icon-down]="expanded" title="Expand/Collapse Row"
                  (click)="toggleExpandRow(row,expanded)">
                </a>
              </ng-template>
            </ngx-datatable-column>
            <div *ngFor="let c of ngx_columns">
              <ngx-datatable-column [name]="c.name" sortable="false" [prop]="c.prop"></ngx-datatable-column>
            </div>
            <ngx-datatable-column name="Actions" sortable="false" prop="entreeId">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <button md-icon-button class="btn btn-primary" (click)="editMainTableItem(value)">
                  <i class="fa fa-edit"></i> Edit
                </button>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>
