USE [FamilyCore_Dev]
GO
/****** Object:  StoredProcedure [dbo].[GetEntreeInfoById]    Script Date: 1/15/2018 8:25:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[GetEntreeInfoById]
	@Id INT = NULL,
	@Type NVARCHAR(20) = NULL
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF @Type = 'Vegetable' OR @Type = 'Meat'
	BEGIN
		SELECT e.Id AS EntreeId, e.Name AS EntreeName, 
		ISNULL(VegeCountTable.DetailCount, 0) AS VegetableCount,
		ISNULL(MeatCountTable.DetailCount, 0) AS MeatCount,
		ISNULL(sf.Name, '') AS StapleFood, 
		es.Style,
		ec.Catagory,
		ISNULL(e.Note, '') AS Note
		FROM FamilyCore_Dev.dbo.Entree e
		INNER JOIN FamilyCore_Dev.dbo.Entrees_Details eds ON eds.EntreeId = e.Id
		LEFT JOIN FamilyCore_Dev.dbo.StapleFood sf ON sf.Id = e.StapleFoodId
		INNER JOIN FamilyCore_Dev.dbo.EntreeStyle es ON es.Id = e.EntreeStyleId
		INNER JOIN FamilyCore_Dev.dbo.EntreeCatagory ec ON ec.Id = e.EntreeCatagoryId
		LEFT JOIN
		(
			SELECT COUNT(*) AS DetailCount, e.Id, edt.DetailType
			FROM FamilyCore_Dev.dbo.Entree e
			INNER JOIN FamilyCore_Dev.dbo.Entrees_Details eds ON eds.EntreeId = e.Id
			INNER JOIN FamilyCore_Dev.dbo.EntreeDetail ed ON ed.Id = eds.EntreeDetailId
			INNER JOIN FamilyCore_Dev.dbo.EntreeDetailType edt ON edt.Id = ed.EntreeDetailTypeId AND edt.DetailType = '蔬菜'
			GROUP BY e.Id, edt.DetailType
		) VegeCountTable ON VegeCountTable.Id = e.Id
		LEFT JOIN
		(
			SELECT COUNT(*) AS DetailCount, e.Id, edt.DetailType
			FROM FamilyCore_Dev.dbo.Entree e
			INNER JOIN FamilyCore_Dev.dbo.Entrees_Details eds ON eds.EntreeId = e.Id
			INNER JOIN FamilyCore_Dev.dbo.EntreeDetail ed ON ed.Id = eds.EntreeDetailId
			INNER JOIN FamilyCore_Dev.dbo.EntreeDetailType edt ON edt.Id = ed.EntreeDetailTypeId AND edt.DetailType = '肉类'
			GROUP BY e.Id, edt.DetailType
		) MeatCountTable ON MeatCountTable.Id = e.Id
		WHERE eds.EntreeDetailId = @Id
	END
	ELSE IF @Type = 'StapleFood'
	BEGIN
		SELECT e.Id AS EntreeId, e.Name AS EntreeName, 
		ISNULL(VegeCountTable.DetailCount, 0) AS VegetableCount,
		ISNULL(MeatCountTable.DetailCount, 0) AS MeatCount,
		ISNULL(sf.Name, '') AS StapleFood, 
		es.Style,
		ec.Catagory,
		ISNULL(e.Note, '') AS Note
		FROM FamilyCore_Dev.dbo.Entree e
		INNER JOIN FamilyCore_Dev.dbo.StapleFood sf ON sf.Id = e.StapleFoodId
		INNER JOIN FamilyCore_Dev.dbo.EntreeStyle es ON es.Id = e.EntreeStyleId
		INNER JOIN FamilyCore_Dev.dbo.EntreeCatagory ec ON ec.Id = e.EntreeCatagoryId
		LEFT JOIN
		(
			SELECT COUNT(*) AS DetailCount, e.Id, edt.DetailType
			FROM FamilyCore_Dev.dbo.Entree e
			INNER JOIN FamilyCore_Dev.dbo.Entrees_Details eds ON eds.EntreeId = e.Id
			INNER JOIN FamilyCore_Dev.dbo.EntreeDetail ed ON ed.Id = eds.EntreeDetailId
			INNER JOIN FamilyCore_Dev.dbo.EntreeDetailType edt ON edt.Id = ed.EntreeDetailTypeId AND edt.DetailType = '蔬菜'
			GROUP BY e.Id, edt.DetailType
		) VegeCountTable ON VegeCountTable.Id = e.Id
		LEFT JOIN
		(
			SELECT COUNT(*) AS DetailCount, e.Id, edt.DetailType
			FROM FamilyCore_Dev.dbo.Entree e
			INNER JOIN FamilyCore_Dev.dbo.Entrees_Details eds ON eds.EntreeId = e.Id
			INNER JOIN FamilyCore_Dev.dbo.EntreeDetail ed ON ed.Id = eds.EntreeDetailId
			INNER JOIN FamilyCore_Dev.dbo.EntreeDetailType edt ON edt.Id = ed.EntreeDetailTypeId AND edt.DetailType = '肉类'
			GROUP BY e.Id, edt.DetailType
		) MeatCountTable ON MeatCountTable.Id = e.Id
		WHERE sf.Id = @Id
	END
	ELSE IF @Type = 'Entree'
	BEGIN
		SELECT e.Id AS EntreeId, e.Name AS EntreeName, 
		ISNULL(VegeCountTable.DetailCount, 0) AS VegetableCount,
		ISNULL(MeatCountTable.DetailCount, 0) AS MeatCount,
		ISNULL(sf.Name, '') AS StapleFood, 
		es.Style,
		ec.Catagory,
		ISNULL(e.Note, '') AS Note
		FROM FamilyCore_Dev.dbo.Entree e
		LEFT JOIN FamilyCore_Dev.dbo.StapleFood sf ON sf.Id = e.StapleFoodId
		INNER JOIN FamilyCore_Dev.dbo.EntreeStyle es ON es.Id = e.EntreeStyleId
		INNER JOIN FamilyCore_Dev.dbo.EntreeCatagory ec ON ec.Id = e.EntreeCatagoryId
		LEFT JOIN
		(
			SELECT COUNT(*) AS DetailCount, e.Id, edt.DetailType
			FROM FamilyCore_Dev.dbo.Entree e
			INNER JOIN FamilyCore_Dev.dbo.Entrees_Details eds ON eds.EntreeId = e.Id
			INNER JOIN FamilyCore_Dev.dbo.EntreeDetail ed ON ed.Id = eds.EntreeDetailId
			INNER JOIN FamilyCore_Dev.dbo.EntreeDetailType edt ON edt.Id = ed.EntreeDetailTypeId AND edt.DetailType = '蔬菜'
			GROUP BY e.Id, edt.DetailType
		) VegeCountTable ON VegeCountTable.Id = e.Id
		LEFT JOIN
		(
			SELECT COUNT(*) AS DetailCount, e.Id, edt.DetailType
			FROM FamilyCore_Dev.dbo.Entree e
			INNER JOIN FamilyCore_Dev.dbo.Entrees_Details eds ON eds.EntreeId = e.Id
			INNER JOIN FamilyCore_Dev.dbo.EntreeDetail ed ON ed.Id = eds.EntreeDetailId
			INNER JOIN FamilyCore_Dev.dbo.EntreeDetailType edt ON edt.Id = ed.EntreeDetailTypeId AND edt.DetailType = '肉类'
			GROUP BY e.Id, edt.DetailType
		) MeatCountTable ON MeatCountTable.Id = e.Id
		WHERE e.Id = @Id
	END
	ELSE IF @Type = 'EntreeDetail'
	BEGIN
	    Select	Entree_Vegetable.EntreeId,
		e.Name AS EntreeName,
		LEFT(Entree_Vegetable.Vegetables,Len(Entree_Vegetable.Vegetables)-1) AS Vegetable,
		LEFT(Entree_Meat.Meats,Len(Entree_Meat.Meats)-1) AS Meat,
		ISNULL(e.Note, '') AS Note
		FROM	dbo.Entree e
		LEFT JOIN
		(
			Select distinct ST2.EntreeId, 
				(
					Select ISNULL(ed.Name, '') + ', ' AS [text()]
					FROM FamilyCore_Dev.dbo.Entrees_Details eds
					INNER JOIN FamilyCore_Dev.dbo.EntreeDetail ed ON ed.Id = eds.EntreeDetailId
					INNER JOIN FamilyCore_Dev.dbo.EntreeDetailType edt ON edt.Id = ed.EntreeDetailTypeId AND edt.DetailType = '蔬菜'
					Where eds.EntreeId = ST2.EntreeId
					ORDER BY eds.EntreeId
					For XML PATH ('')
				) Vegetables
			From dbo.Entrees_Details ST2
		) Entree_Vegetable	ON e.Id = Entree_Vegetable.EntreeId
		LEFT JOIN
		(
			SELECT distinct ST2.EntreeId, 
				(
					Select ISNULL(ed.Name, '') + ', ' AS [text()]
					FROM FamilyCore_Dev.dbo.Entrees_Details eds
					INNER JOIN FamilyCore_Dev.dbo.EntreeDetail ed ON ed.Id = eds.EntreeDetailId
					INNER JOIN FamilyCore_Dev.dbo.EntreeDetailType edt ON edt.Id = ed.EntreeDetailTypeId AND edt.DetailType = '肉类'
					Where eds.EntreeId = ST2.EntreeId
					ORDER BY eds.EntreeId
					For XML PATH ('')
				) Meats
			From dbo.Entrees_Details ST2
		) Entree_Meat ON Entree_Meat.EntreeId = Entree_Vegetable.EntreeId
		WHERE e.Id = @Id
	END
END

