<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mx-4">
          <div class="card-body p-4">
            <form #f="ngForm" novalidate>
              <h1>Register</h1>
              <p class="text-muted">Create your account</p>
              <!-- <div class="input-group mb-3">
              <span class="input-group-addon"><i class="icon-user"></i></span>
              <input type="text" class="form-control" placeholder="Username">
            </div> -->

              <div class="input-group mb-3">
                <span class="input-group-addon">
                  <i class="fa fa-envelope"></i>
                </span>
                <input type="text" class="form-control" placeholder="Email" [(ngModel)]="newUser.email" name="userEmail" required #userEmail="ngModel">
              </div>

              <div class="input-group mb-3">
                <span class="input-group-addon">
                  <i class="icon-lock"></i>
                </span>
                <input type="password" class="form-control" placeholder="Password" [(ngModel)]="newUser.password" name="userPassword" required
                  #userPassword="ngModel">
              </div>

              <div class="input-group mb-3">
                <span class="input-group-addon">
                  <i class="icon-people"></i>
                </span>
                <input type="text" class="form-control" placeholder="First Name" [(ngModel)]="newUser.firstName" name="firstName">
              </div>

              <div class="input-group mb-3">
                <span class="input-group-addon">
                  <i class="icon-people"></i>
                </span>
                <input type="text" class="form-control" placeholder="Last Name" [(ngModel)]="newUser.lastName" name="lastName">
              </div>

              <div class="input-group mb-3">
                <span class="input-group-addon">
                  <i class="icon-map"></i>
                </span>
                <input type="text" class="form-control" placeholder="Location" [(ngModel)]="newUser.location" name="location">
              </div>

              <!-- <div class="input-group mb-4">
              <span class="input-group-addon"><i class="icon-lock"></i></span>
              <input type="password" class="form-control" placeholder="Repeat password">
            </div> -->

              <button type="button" class="btn btn-block btn-success" (click)="this.submit()" [disabled]="!f.valid">Create Account</button>
              <app-spinner [isRunning]="isRequesting"></app-spinner> 
            </form>
          </div>
          <div class="card-footer p-4">
            <div class="row">
              <div class="col-6">
                <button class="btn btn-block btn-facebook" type="button" disabled="disabled">
                  <span>facebook</span>
                </button>
              </div>
              <div class="col-6">
                <button class="btn btn-block btn-twitter" type="button" disabled="disabled">
                  <span>twitter</span>
                </button>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4 off-set-4"></div>
              <p>Coming Soon!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>