<div class="form-group row">
  <label class="col-md-3 col-form-label">{{entreeDetailType}}</label>
  <div class="row">
    <ul style="margin-left: -10px;">
      <li class="edit_ul_li" *ngFor="let entreeDetail of entreeDetailList">
        <entree-detail-cart-template [entreeId]="entreeId" [entreeDetailType]="entreeDetailType" [entreeDetail]="entreeDetail" (saveEntreeDetail)="this.OnSaveEntreeDetailClick($event)"
          (removeEntreeDetail)="this.OnRemoveEntreeDetailClick($event)">
        </entree-detail-cart-template>
      </li>
    </ul>
  </div>
  <div style="margin-left: 14px;">
    <button type="button" class="btn btn-sm btn-outline-success" style="height: 45px; border-radius: 15px;" (click)="addNewEntreeDetail()"
      *ngIf="!addNewTrigger">
      <i class="fa fa-plus-circle"></i> Add New {{entreeDetailType}}
    </button>
  </div>
</div>
<div class="form-group row" *ngIf="addNewTrigger" style="border: 1px #379457;border-style: double;padding: 2px;background: #AAC2D4;">
  <label class="col-md-3 col-form-label" style="color: #fff;">Please add a new {{entreeDetailType}} here</label>
  <div class="col-md-4">
    <div class="input-group" style="padding: .5rem;width: 393px; margin-left: 10px;">
      <select id="availEntreeDetail" class="form-control form-control-sm" style="margin-left: -19px; width: 40px;" (change)="onAvailEntreeDetailChange($event)" [(ngModel)]="newEntreeDetail.entreeDetailId"
        name="entreeDetailId">
        <option *ngFor="let ed of availEntreeDetails" value="{{ ed.id }}">{{ ed.name }}</option>
      </select>
      <span class="input-sm-space"></span>x
      <span class="input-sm-space"></span>
      <input type="number" id="entreeQty" class="form-control form-control-sm" min="1" value="1" [(ngModel)]="newEntreeDetail.quantity">
      <span class="input-sm-space"></span>
      <span class="input-group-btn">
        <button type="button" class="btn btn-sm btn-primary" style="border-radius: 15px;" (click)="addEntreeDetail()">
          <i class="fa fa-save"></i> Add
        </button>
      </span>
      <span class="input-sm-space"></span>
      <span class="input-group-btn">
        <button type="button" class="btn btn-sm btn-warning" style="border-radius: 15px;" (click)="cancelEntreeDetail()">
          <i class="fa fa-ban"></i> Cancel
        </button>
      </span>
    </div>
  </div>
</div>
