.input-sm-space {
  padding-left: 10px;
}

.input-md-space {
  padding-left: 15px;
}

/*  always show up/down arrows for input "number" field */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
}